<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a href="#">Trang chủ</a>
    </li>
    <li class="active">Quản lý sản phẩm</li>
  </ul><!-- /.breadcrumb -->
</div>
<div class="page-content"> 
  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
      <p-table selectionMode="single" [value]="products" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 70px; text-align: center;">STT</th>
            <th style="width: 20%; text-align: left;">Tên Sản Phẩm</th>
            <th style="text-align: left;">Ảnh</th>
            <th style="width: 130px; text-align: left;">Giá</th>
            <th style="width: 120px; text-align: left;">Tác vụ</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item  let-i="rowIndex">
          <tr>
            <td style="width: 70px; text-align: center;">{{ i + 1 }}</td>
            <td>{{ item.item_name }}</td>
            <td><img src="{{ item.item_image }}" style="width:100px" /></td>
            <td>{{ item.item_price }}</td>
            <td class="action-col" >
              <div class="btn-group">
                <button title="" class="btn btn-xs btn-white btn-default"  (click)="openUpdateModal(item)">  
                  <i class="ace-icon fa fa-edit"></i>
                </button>
                <button title="" class="btn btn-xs btn-white btn-default" (click)="onDelete(item)">
                  <i class="ace-icon fa fa-trash"></i>
                </button>
              </div>  
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!-- PAGE CONTENT ENDS -->
    </div>
    <div class="col-xs-12" style="text-align: right;">
      <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
    <!-- /.col -->
  </div>
</div><!-- /.page-content -->